
<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


					<h1>Login to Your Account</h1><br>
				  <form method="post" action="/auth/login">
					<input type="text" name="user" placeholder="Username">
					<input type="password" name="pass" placeholder="Password">
					<input type="submit" name="login" value="Login">
				  </form>
					
				  